{% extends "base.html" %}


{% block breadcrumbs %}
    <li>
        <a href="{{ obj.crudconf.get_origin_url }}">{{ obj.crudconf.get_origin_title }}</a>
    </li>
    <li>
        <span>{{ obj.crudconf.get_model_verbose_name_plural }}</span>
    </li>
{% endblock %}

{% block content %}
    <h2 class="content-title">

        {% block title %}
            <i class="fa fa-angle-right"></i>
            {{ obj.crudconf.get_model_verbose_name_plural }}
        {% endblock %}
    </h2>

    <div>
        <div class="tab-bar">
            <div class="pull-left">
                {% block tabs_left %}
                <ul class="nav navbar-nav">
                    <li class="{% block list_tab_class %}{% endblock %}">
                        <a href="{{ obj.crudconf.get_list_url }}">
                            <i class="fa fa-list"></i>
                            Listenansicht
                        </a>
                    </li>
                    <li class="{% block create_tab_class %}{% endblock %}">
                        <a href="{{ obj.crudconf.get_create_url }}">
                            <i class="fa fa-plus"></i>
                            Hinzufügen
                        </a>
                    </li>
                </ul>
                {% endblock %}
            </div>
            <div class="pull-right">
                {% block tabs_right %}{% endblock %}
            </div>
            <div class="clearfix"></div>
        </div>
        <div>
            {% block status_info %}
            {% endblock %}
        </div>
    </div>

    <div class="tab-content">
        {% block tab_content_title %}
        {% endblock %}
        {% block tab_content %}
        {% endblock %}
    </div>
{% endblock %}
