{% extends "modelcrud/detail_frame.html" %}
{% load modelcrud_tags %}
{% block detail_tab_class %}active{% endblock %}


{% block breadcrumbs %}
    <li>
        <a href="{{ obj.crudconf.get_origin_url }}">Dashboard</a>
    </li>
    <li>
        <a href="{{obj.crudconf.get_list_url }}">{{ obj.crudconf.get_model_verbose_name_plural }}</a>
    </li>
    <li>
        <span>{{ obj.crudconf.get_display_name }} </span>
    </li>
{% endblock %}


{% block tab_content %}
    {% render_details obj %}
{% endblock %}
