{% load modelcrud_tags %}
<table class="table table-striped"
       data-toggle="table"
       data-search="true"
       data-sort-name="{{ head.0.name }}"
       data-sort-order="asc"
       data-pagination="true"
       data-page-size="25">

    <thead>
        <tr>
            {% for field in head %}
                <th data-field="{{field.name}}" data-sortable="true">{{ field.label }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>

        {% for row in rows %}
            <tr>
                {% for col_label in row.values %}
                    {% if forloop.counter0 == row.obj.crudconf.list_display_detail_link_index %}
                        <td>
                            <a id="{{ col_label }}" href="{{ row.obj.crudconf.get_detail_url }}">
                                {{ col_label }}
                            </a>
                        </td>
                    {% else %}
                        {% if col_label|isinstance_datetime %}
                            <td><span class="hidden">{{ col_label|date:"c" }}</span>{{ col_label|default_if_none:"" }}</td>
                        {% else %}
                            <td>{{ col_label|default_if_none:"" }}</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}

    </tbody>
</table>
